body{
overflow: hidden;
background-color: #e2e4df;
}

.widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centers vertically on the viewport */
}

/* Add this CSS to center the tasks within the widget */
.widget {
  text-align: center;
  margin: 10px; /* Add spacing between widgets */
}

button {
    padding: 10px 20px;
    background-color: #cca3a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: monospace;
}
  
button:hover {
  background-color: #e4b2b2;
}

.widgetButtonsMenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
}

.widgetButtonMenu {
  margin: 5px;
}