body {
  overflow: hidden;
  background-color:#C6DABF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.widgets {
  display: flex;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  background-color: #8dabba;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: monospace;
}

button:hover {
  background-color: #88afc2;
  transform: scale(1.05);
}

.widgetButtonsMenu {
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 2;
}

.widgetButtonMenu {
  margin: 5px;
}