  
body {  
    background-color: #e2e4df;
    font-family: monospace;
    font-size: 20px;
}

.incrementalGoalWindow {
    background-color: #f3eded;
    min-width: 270px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    border-radius: 0px 0px 10px 10px;    
    }
  
  /* Style text with a readable color */
#incrementalGoalStreak{
    color: #92929c;
    line-height: 1.5;
  }

/* Adjust button styles */
#increaseGoal {
    position: relative;
    background: #f1b4b4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
    align-self: flex-end; 
    margin-left: auto; 
}

  
#increaseGoal:hover {
background: #e9b4b4
}
  
#incrementalGoalName{
    font-size: 20px;
}