.taskBoard{
  overflow: hidden;
  margin: auto;
  background-color: #f3eded;
  width: 320px;
  }

.tasks{
  width: 320px;
  height: 480px;
  background-color:#f3eded;
  margin: auto;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
}

.task {
  text-align: center;
  padding: 0px 20px; /* Increase or decrease this value to adjust the vertical space */
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

.taskCompletion {
  padding: 10px 0px;
  background-color: #c5cfc4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
}

.taskCompletion:hover {
  background-color: #c5cfc4;
}

.taskText{
  padding: 10px;
  word-spacing: normal;
}

/* Beautify the input field */
#taskInput {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  width: 170px;
  font-family: monospace;
}

#addTaskButton{
  float: right;
  width: 70px;
  margin-right: 20px;
  margin-top: 10px;
}

.fadeOut{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

