.weatherWindow {
    background-color: #fefcfc;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: none;
    display: flex;
}


.day-title {
    font-size: 24px;
    color: #4a90e2;
}

.weather-title {
    font-size: 72px;
    color: #4a90e2;
}

.temperature {
    font-size: 25px;
    color: #333;
}

.location {
    font-size: 23px;
    color: #666;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}