body {
  overflow: hidden;
  background-color:#C6DABF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.widgets {
  display: flex;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.settings-Button{
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #8dabba;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: monospace;
}

button:hover {
  background-color: #88afc2;
  transform: scale(1.05);
}

.widgetButtonsMenu {
  max-height: 200px;
  overflow-y: auto; 
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 2;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.widgetButtonMenu {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.widgetButtonMenu:hover{
  background-color: #bdb2b2;
}

#inputDialog {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
}

#inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitButton {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
  display: block; /* Display the label on a new line */
  margin: 10px 0; /* Add some space above and below the label */
  font-size: 18px; /* Make the label text a bit larger */
}

.inputField {
  margin: 10px; /* Add some space around the input fields */
  padding: 10px; /* Add some space inside the input fields */
  width: 100%; /* Make the input fields take up the full width of their container */
  border: 1px solid #ccc; /* Add a border with a light gray color */
  border-radius: 5px; /* Round the corners a bit */
  font-size: 16px; /* Set the font size to make it more readable */
}
